<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ysl.helloworld">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.ysl.baohuo.foregroundservice.MyService"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name="com.ysl.baohuo.foregroundservice.MyService$InnerService"/>
        <service android:name="com.ysl.baohuo.systemservice.OrdinaryService"/>

        <service android:name="com.ysl.baohuo.accountservice.AccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator"/>
        </service>
        <service android:name="com.ysl.baohuo.accountservice.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>
        <provider
            android:authorities="com.ysl.baohuo.accountservice.provider"
            android:name="com.ysl.baohuo.accountservice.SyncProvider"/>

        <service android:name="com.ysl.baohuo.jobscheduler.MyJobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name="com.ysl.baohuo.notificationlistenerservice.MyNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.ysl.baohuo.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ysl.baohuo.onepix.OnePixActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent"></activity>
        <activity android:name="com.example.mylibrary.MyActivity"></activity>
        <activity android:name="com.ysl.recyclerview.RecyclerViewActivity"></activity>
    </application>

</manifest>